[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
playwright = "*"
pandas = "*"
python-dotenv = "*"
bs4 = "*"
lxml = "*"
spacy = "*"

[dev-packages]

[requires]
python_version = "3.10"
